@import "colors.css"; 

* {
    font-family: jetbrains-mono-nerd;
    font-weight: 600;
    font-size: 12px;
}
window#waybar {
    background-color: transparent;
}

window#waybar > box {
    background-color: @bg; 
    color: @fg;            
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 10px;
    padding: 0px 10px;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @fg; 
}

#pulseaudio:hover {
    background-color: transparent;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @fg; 
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused, #workspaces button.active {
      background-color: transparent;
      box-shadow: inset 0 -3px 0 0 @accent; 
}

#workspaces button.urgent {
    background-color: #eb4d4b; 
}

#mode {
    background-color: @surface; 
    box-shadow: inset 0 -3px @fg;
}

#cpu{
	color: @primary; 
	margin-right: 14px;
}

#network{
     padding: 0 10px;
     color: @tertiary; 
     margin-right: 10px;
}

#clock,
#battery,
#pulseaudio,
#wireplumber{
    padding: 0 10px;
    color: @fg; 
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @surface; 
    color: @fg;                 
}

#battery {
    background-color: transparent;
    color: @fg;
}

#battery.charging, #battery.plugged {
    color: @fg;
    background-color: @surface; 
}

@keyframes blink {
    to {
        background-color: @fg;
        color: @bg;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: @fg;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: @fg;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: @fg;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: @bg;
}

label:focus {
    background-color: @bg;
}

#memory {
    background-color: transparent;
    color: @secondary; 
    margin-right: 20px;
    margin-left: 0px;
}

#network {
    background-color: transparent;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: transparent;
    color: @primary; 
    margin-right: 2px;
}

#pulseaudio.muted {
    background-color: transparent;
    color: @fg;
}

#wireplumber {
    background-color: @surface; 
    color: @fg;                 
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-power {
	margin-right: 12px;
	margin-left: 2px;
	color: @primary; 
}

#custom-walls {
	margin-right: 2px;
	margin-left: 2px;
	color: @fg;
}

